@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #ec362d;
  display: flex;
  height: 69px;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  position: fixed;
  top: 0;
}

header h1 {
  color: #ffffff;
  font-size: 37px;
  font-weight: 700;
}

main {
  padding: 146px 195px 0px 195px;
}

.create-quizz {
  border: dashed 2px;
  border-radius: 5px;
  border-color: #d4d4d4;
  height: 181px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.create-quizz h1 {
  font-weight: 400;
  font-size: 20px;
  color: #b9b9b9;
}

.create-button {
  border: dashed 2px;
  border-radius: 50px;
  border-color: #ec362d;
  color: #ec362d;
  width: 151px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoQuizz {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoQuizz input {
  margin-bottom: 9px;
}

.infoAnswers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
  height: auto;
  padding: 21px 16px 20px 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  margin: 26px 0 80px 0;
}

.infoQuizz button {
  background-color: #ec362d;
  max-width: 368px;
  width: 100%;
  height: 54px;
  border-radius: 15px;
  color: #ffff;
  font-size: 16px;
  border: none;
}


input {
  height: 46px;
  width: 100%;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  font-style: italic;
  font-size: 16px;
  font-weight: 100;
  color: #d1d1d1;
  padding: 0 20px 0 20px;
}

input:focus {
  color: black;
  font-style: normal;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

.spacing1 {
  margin-top: 43px;
}