* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  background: #431010;
  overflow-x: hidden;
}

input {
  height: 46px;
  width: 100%;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  font-style: italic;
  font-size: 16px;
  font-weight: 100;
  color: #d1d1d1;
  padding: 0 20px 0 20px;
}

input:focus {
  color: black;
  font-style: normal;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 69px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ec362d;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
}

header h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 38px;
  padding: 13px 0 13px 0;
}

.container-tela-1 {
  width: 1051px;
  margin: 0 auto;
}

.empty-user-quizzes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 181px;
  border: 2px dashed #d5d5d5;
  border-radius: 5px;
}

.empty-user-quizzes span {
  text-align: center;
  color: #b9b9b9;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 20px;
}

.empty-user-quizzes button {
  color: #ec362d;
  font-size: 21px;
  background-color: #fafafa;
  width: 151px;
  height: 40px;
  border: 2px dashed #ec362d;
  border-radius: 50px;
}

.title-user-quizzes {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 13px;
}

.title-user-quizzes ion-icon {
  font-size: 31px;
  color: #ec362d;
  margin-left: 17px;
}

.quizzes {
  width: 100%;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.all-quizzes {
  margin-top: 50px;
  width: 100%;
}

.all-quizzes h3 {
  margin-bottom: 12px;
}

.empty-user-quizzes button:hover,
.title-user-quizzes ion-icon:hover {
  cursor: pointer;
}

.quizCreation button:hover {
  background-color: rgb(248, 95, 95);
}

.quizCreation button:active {
  transform: translateY(2px);
}

.hidden {
  display: none;
}


.quizzes {
  justify-content: space-between;
  margin-bottom: 211px;
}

.quizz {
  margin-top: 10px;
  width: 340px;
  height: 181px;
  position: relative;
  background-position: center;
  background-size: cover;
}

.quizz img {
  width: 340px;
  height: 181px;
  margin-top: 10px;
  border-radius: 5px;
}

.texto-imagem h1 {
  position: absolute;
  text-align: left;
  padding: 0px;
  bottom: 0px;
  left: 0px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  margin-bottom: 20px;
  margin-left: 18px;


}

 /* Criação de Quizz - Primeira tela */

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  background: #fafafa;
  overflow-x: hidden;
}

input {
  height: 46px;
  width: 100%;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  font-style: italic;
  font-size: 16px;
  font-weight: 100;
  color: #d1d1d1;
  padding: 0 20px 0 20px;
}

input:focus {
  color: black;
  font-style: normal;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 69px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ec362d;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
}

header h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 38px;
  padding: 13px 0 13px 0;
}

.spacing {
  margin-top: 106px;
}

.infoQuizz {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 146px;
}

.infoQuizz input {
  margin-bottom: 9px;
}

.infoAnswers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
  height: 70px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  margin: 26px 0 80px 0;
}


.infoQuizz button {
  background-color: #ec362d;
  max-width: 368px;
  width: 100%;
  height: 54px;
  border-radius: 15px;
  color: #ffff;
  font-size: 16px;
  border: none;
}

.hidden {
  display: none;
}

.spacing1 {
  margin-top: 10px;
}

.spacing2 {
  margin-bottom: 12px;
}

.main-content{
  padding: 0px 195px 0px 195px;
}

.myQuizzes{
  padding-bottom: 77px;
  padding-top: 146px;
}


.foto-titulo {
  width: 100%;
  height: 227px;
  margin-top: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
}

.foto-titulo img {
  width: 100%;
  height: 100%;
  opacity: 60%;
}
.titulo-tela {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 39px;
  position: absolute;
}
.perguntas {
  width: 759px;
  /* height: 676px; */
  margin: 42px 15%;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  min-height: 400px;
  position: relative;

  display: flex;
  flex-direction: column;
}
.resultado-perguntas {
  width: 70%;
  height: 430px;
  margin: 42px 15%;
}
.reiniciar-quizz {
  width: 260.38px;
  height: 52px;
  background-color: #EC362D;
  color: #FFFFFF;
  border: none;

  margin: 0 40%;
  border-radius: 15px;
}
.voltar-home {
  width: 260.38px;
  height: 52px;
  margin: 16px 45.5%;
  display: flex;
  justify-content: center;
  color: #818181;
}
.titulo-pergunta {
  width: 90%;
  height: 137px;
  margin-top: 27px;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 23px;
  /* position: absolute; */
  background-color: #434CA0;
}
.opcoes {
  /* position: absolute; */
  margin-top: 5px;
  width: 90%;
  height: 68%;
  max-height: auto;

  /* margin-top: 186px; */
  margin-left: 5%;

  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
}
.opcao-respostas{
  font-size: 20px;
  color: #000000;
  font-weight: 700;
}
.resultado-perguntas {
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.titulo-resposta {
  position: absolute;
  width: 90%;
  height: 99px;
  background-color: blue;
  margin-top: 27px;
  margin-left: 5%;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-weight: 700;
}
.resposta-final {
  position: absolute;
  width: 90%;
  height: 60%;
  margin-top: 135px;
  margin-left: 5%;
  display: flex;
}
.resposta-final p {
  margin-left: 20px;
  font-weight: 700;
  font-size: 19px;
}
.id1 {
  background-color: #434CA0;
}
.id2 {
  background-color: #A0438D;
}

@media (max-width: 1100px) {
  .opcoes {
    display: flex;
    justify-content: space-between;
    max-height: auto;

  }
  .opcoes img {
    width: 230px;
  }
}
@media (max-width: 730px){
  .opcoes img {
    width: 150px;
  }
}
@media (max-width: 477px){
  .opcoes {
    display: flex;
    justify-content: center;
    max-height: auto;
  }
}

.opcoes img{
  width: 330px;
  height: 175px;
}

.insideQuizz {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quizzReady{
  padding-bottom: 29px;
}

.quizzReadyImg{
  padding-bottom: 24px;
  position: relative;
}

.quizzReadyImg img{
  width: 500px;
}

.quizzReadyTitle{
  top: 223px;
  color: white;
  position: absolute;
  left: 37px;
  font-weight: 400;
  font-size: 23px;
}

.escondido{
  display: none;
}

#pergunta1{
  display: none;
}
#pergunta2{
  display: none;
}
#pergunta3{
  display: none;
}
#pergunta4{
  display: none;
}

#pergunta5{
  display: none;
}

.backgroundWhite{
  opacity: 30%;
}

.text-acertou{
  color: green;
}

.text-errou{
  color: red;
}

.cursor {
  cursor: pointer;
}

ion-icon {
  margin-left: 380px;
  margin-bottom: 35px;
  margin-right: 35px;
  font-size: 30px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}

.aside-text {
  width: 200px;
  margin-bottom: 35px;
  margin-left: 35px;
}
